aiohttp==2.2
aiomysql
aiohttp_jinja2
docker<2.6
elizabeth==0.3.27
yarl
redis
asyncio_redis
uvloop
pymongo
pylibinjection
jinja2
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability